    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Esfiharia</title>
        <link rel="stylesheet" href="/css/cadastro.css">
        <link rel="shortcut icon" href="/fotos/logo.jpg" type="image/x-icon">
        <script src="/scripts/fila.js" async></script>
    </head>
    <body>

        
        <header>
            <img src="/fotos/logo.jpg" alt="" id="logo">
        </header>
        
        <main>
            <div class="caixa_encima">
                    <section class="conteudo_da_caixa">
                    
                        <h2 class="letra">Cadastre-se <a href="/login"> <img src="/fotos/lock.png" alt="" id="icon_seguranca"></a></h2>
                        <h4 class="letra">É rapido e facil</h4><br>
                            
                    <form id="cadastroForm">

                        <label for="inserir_nome" class="inserir_nome">
                            <input type="text" name="nome" placeholder="Digite seu nome" id="nome" required>
                            <input type="text" name="sobrenome" placeholder="Digite seu sobrenome" id="sobrenome" required>
                        </label>
                        
            
                        <label for="email_e_senha" class="email_senha">
                            <input type="email" name="email" placeholder="Digite seu email" id="email" required class="email">
                            <input type="text" name="endereco" placeholder="Digite seu endereço de entregas" id="endereco"  required class="senha">
                        </label>
            
                        <label for="genero_data" class="genero_data">
                            <select class="genero" name="genero"  id="genero" required placeholder="Qual seu gênero">
                                <option value="informeseugênero?">Informe seu gênero</option>
                                <option value="masculino">Masculino</option>
                                <option value="feminino">Feminino</option>
                                <option value="naoinformar">Prefiro não informar</option>
                            </select>
                                <input type="date" id="nascimento" name="nascimento" required class="nascimento">
                        </label>
            
                        <label for="pagamento" class="pagamento" >
                            <select class="pagamento" name="pagamento" id="pagamento" required placeholder="Forma de pagamento">
                                <option value="informeseugênero?">Informe a forma de pagamento</option>
                                <option value="dinheiro">Dinheiro</option>
                                <option value="cartao">Cartão</option>
                                <option value="pix">Pix</option>
                                <option value="vr">Vale Refeição</option>
                            </select>   
                        </label>
                            <section class="links__de__conta">
                                <button type="submit" name="submit" class="procurar">Cadastrar-se</button>
                                <button type="button" class="procurar"><a href="home"> Voltar </a></button>
                            </section>                                              
                </form>
            </section>  
            
        
            
            </div>
        </main>

        <footer>

            <h1 id="footer">Nossa localização</h1>

            <div id="linha"><hr></div>

            <div class="mapouter"><div class="gmap_canvas"><iframe class="gmap_iframe" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=esfiha&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://capcuttemplate.org/"></a></div><style>.mapouter{position:relative;text-align:right;width:600px;height:400px;}.gmap_canvas {overflow:hidden;background:none!important;width:1075px;height:400px;}.gmap_iframe {width:600px!important;height:400px!important;}</style></div>
            <br>
            <div class="final">
            <h3 class="info">Informações da empresa</h3>
            <p><Strong>CNPJ:</Strong> 32.759.022/0001-26<strong><br> Telefone:</strong> (11) 2514-5877</p> <br>
            </div>
        </footer>
        <script>
        document.getElementById('cadastroForm').addEventListener('submit', async function (event) {
            event.preventDefault();

        const nome = document.getElementById('nome').value;
        const sobrenome = document.getElementById('sobrenome').value;
        const email = document.getElementById('email').value;
        const endereco = document.getElementById('endereco').value;
        const nascimento = document.getElementById('nascimento').value;
        const pagamento = document.getElementById('pagamento').value;
        const total = localStorage.getItem('total');

            try {
                const response = await fetch('/api/data', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ nome, sobrenome, email, endereco, nascimento, pagamento, total }),
                });

                const data = await response.json();
                // Você pode tratar a resposta do servidor aqui, se necessário.
                // Armazena os dados no localStorage
                localStorage.setItem('dadosDoUsuario', JSON.stringify({ nome, sobrenome, email, endereco, nascimento, pagamento, total }));
                console.log('Dados salvos no localStorage:', localStorage.getItem('dadosDoUsuario'));

                console.log(data);

                window.location.href = 'entregas';
            } catch (error) {
                console.error('Erro:', error);
            }
        });

        </script>
    </body>

    </html>