<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/entregas.css">
    <script src="/scripts/fila.js" async></script>

    <link rel="shortcut icon" href="/fotos/logo.jpg" type="image/x-icon">
    <title>Esfiharia</title>
</head>
<body>
    <header>
       <a href="home"><img src="/fotos/logo.jpg" alt="" id="logo"></a>
    </header>
    <main>

            <div class="containerCarrinho">
                <h2 class="titulo">Entregas pendentes</h2>
                <div id="divDados" class="divDados"></div>
                <ul id="carrinhoCart"></ul>
                <hr>
                <h2>Nós ficamos localizados na Rua Apucarana, 715 - Tatuapé</h2>
                <iframe class="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d914.4176794974247!2d-46.56456996946774!3d-23.54434287324587!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5e8d6fd1c849%3A0xa7f4cb527fb5801c!2sR.%20Apucarana%2C%20715%20-%20Tatuap%C3%A9%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2003311-000!5e0!3m2!1spt-PT!2sbr!4v1683659741055!5m2!1spt-PT!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <form>
                    <div id="botao">
                            <button type="button" class="procurar" onclick="confirmarPedido()">Ver Entrega</button><br>
                        
                        <a href="cadastro"><button type="button" class="procurar">Voltar</button></a>
                    </div>
                 </form>

            <div class="modeloCart">
                
            </div>

    </main>

<footer>

    <h1 id="footer">Nossa localização</h1>

    <div id="linha"><hr></div>

    <div class="mapouter"><div class="gmap_canvas"><iframe class="gmap_iframe" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=esfiha&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://capcuttemplate.org/"></a></div><style>.mapouter{position:relative;text-align:right;width:600px;height:400px;}.gmap_canvas {overflow:hidden;background:none!important;width:1075px;height:400px;}.gmap_iframe {width:600px!important;height:400px!important;}</style></div>
    <br>
        <div class="final">
          <h2 class="info">Informações da empresa</h2>
          <p><Strong>CNPJ:</Strong> 32.759.022/0001-26<strong><br> Telefone:</strong> (11) 2514-5877</p> <br>
        </div>
</footer>
</body>
</html>