<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Esfiharia </title>
    <link rel="stylesheet" href="/css/gestor.css">
    <link rel="shortcut icon" href="/fotos/logo.jpg" type="image/x-icon">
    <script src="/scripts/carrinho.js" async></script>
</head>
<body>
    <header>
        <a href="home.html"></a><img src="/fotos/logo.jpg" alt="" id="logo">
        <div class="container_canto">

    </header>

    <main class="main-section">
      <h2 class="section-title">Esfihas</h2>
      <section class="container_esfiha">
        
<!--FILEIRA 1 DE ESFIHAS-->

        <div class="products-container1">

          <div class="movie-product">
            <!-- <br> -->
            <img src="/fotos/esfihas/calabresa.jpg" alt="Poster 1" class="product-image">
            <div class="product-price-container">
              <h3 class="product-title">Calabresa</h3>
              <span for="preco_produto1" class="product-price">R$5,00</span>
              <input type="text" id="preco_produto1" value="R$5.00">
              <button onclick="salvarAlteracoes()" class="botão">Salvar Alteração</button>
              
            </div>
          </div>

          <div class="movie-product">
            <!-- <br> -->
            <img src="/fotos/esfihas/atum.jpg" alt="Poster 2" class="product-image">
            <div class="product-price-container">
              <h3 class="product-title">Atum</h3>
              <span for="preco_produto2" class="product-price">R$5,00</span>
              <input type="text" id="preco_produto2" value="R$5.00">
              <button onclick="salvarAlteracoes()" class="botão">Salvar Alteração</button>
                      
            </div>
          </div>
  
          <div class="movie-product">
            <!-- <br> -->
            <img src="/fotos/esfihas/aliche.jpg" alt="Poster 3" class="product-image">
            <div class="product-price-container">
              <h3 class="product-title">Aliche</h3>
              <span for="preco_produto3" class="product-price">R$7,00</span>    
              <input type="text" id="preco_produto3" value="R$7.00">   
              <button onclick="salvarAlteracoes()" class="botão">Salvar Alteração</button>     
            </div>
          </div>

        </div>

  <!--FILEIRA 2 DE ESFIHAS-->

          <div class="products-container2">

          <div class="movie-product">
            <!-- <br> -->
            <img src="/fotos/esfihas/escarola.jpg" alt="Poster 4" class="product-image">
            <div class="product-price-container">
              <h3 class="product-title">Escarola</h3>
              <span for="preco_produto4" class="product-price">R$6,00</span>
              <input type="text" id="preco_produto4" value="R$6.00">
              <button onclick="salvarAlteracoes()" class="botão">Salvar Alteração</button>
            </div>
          </div>

          <div class="movie-product">
            <!-- <br> -->
            <img src="/fotos/esfihas/frango.jpg" alt="Camiseta" class="product-image">
            <div class="product-price-container">
              <h3 class="product-title">Frango</h3>
              <span for="preco_produto5" class="product-price">R$5,00</span>
              <input type="text" id="preco_produto5" value="R$5.00">
              <button onclick="salvarAlteracoes()" class="botão">Salvar Alteração</button>
            </div>
          </div>

          <div class="movie-product">
            <!-- <br> -->
            <img src="/fotos/esfihas/quatro queijo.jpg" alt="Miniatura" class="product-image">
            <div class="product-price-container">
              <h3 class="product-title">Quatro Queijos</h3>
              <span for="preco_produto6" class="product-price">R$7,00</span>
              <input type="text" id="preco_produto6" value="R$7.00">
              <button onclick="salvarAlteracoes()" class="botão">Salvar Alteração</button>
              </div>
          </div>

        </div>
  <!--FILEIRA 3 DE ESFIHA-->
  <div class="products-container3">

    <div class="movie-product">
      <!-- <br> -->
      <img src="/fotos/esfihas/carne.jpg" alt="Poster 4" class="product-image">
      <div class="product-price-container">
        <h3 class="product-title">Carne</h3>
        <span for="preco_produto7" class="product-price">R$5,00</span>
        <input type="text" id="preco_produto7" value="R$5.00">
        <button onclick="salvarAlteracoes()" class="botão">Salvar Alteração</button>
        </div>
    </div>

    <div class="movie-product">
      <!-- <br> -->
      <img src="/fotos/esfihas/carne com coalhada.jpg" alt="Camiseta" class="product-image">
      <div class="product-price-container">
        <h3 class="product-title">Carne c/ Coalhada</h3>
        <span for="preco_produto8"class="product-price">R$6,00</span>
        <input type="text" id="preco_produto8" value="R$6.00">
        <button onclick="salvarAlteracoes()"class="botão">Salvar Alteração</button>
        </div>
    </div>

    <div class="movie-product">
      <!-- <br> -->
      <img src="/fotos/esfihas/milho.jpg" alt="Miniatura" class="product-image">
      <div class="product-price-container">
        <h3 class="product-title">Milho</h3>
        <span for="preco_produto9" class="product-price">R$5,00</span>
        <input type="text" id="preco_produto9" value="R$5.00">
        <button onclick="salvarAlteracoes()"class="botão">Salvar Alteração</button>
        </div>
    </div>

  </div>
</section>
  <!--SEÇÃO DE BEBIDAS-->
      
      <h2 class="section-title">Bebidas</h2>
      <section class="container_bebidas">
        

  <!--FILEIRA 1 DE BEBIDAS-->

        <div class="products-container1_2">

          <div class="movie-product">
            <!-- <br> -->
            <img src="/fotos/bebidas/suco de laranja.png" alt="Camiseta" class="product-image">
            <div class="product-price-container">
              <h3 class="product-title">Suco de Laranja</h3>
              <span for="preco_produto10" class="product-price">R$8,00</span>
              <input type="text" id="preco_produto10" value="R$8.00">
              <button onclick="salvarAlteracoes()"class="botão">Salvar Alteração</button>
              </div>
          </div>

          <div class="movie-product">
            <!-- <br> -->
            <img src="/fotos/bebidas/suco de frutas vermelhas.jpg" alt="Miniatura" class="product-image">
            <div class="product-price-container">
              <h3 class="product-title">Suco c/ Leite</h3>
              <span for="preco_produto11" class="product-price">R$9,00</span>
              <input type="text" id="preco_produto11" value="R$9.00">
              <button onclick="salvarAlteracoes()" class="botão">Salvar Alteração</button>
              </div>
          </div>

          <div class="movie-product">
            <!-- <br> -->
            <img src="/fotos/bebidas/Suco de abacaxi com hortelâ.jpg" alt="Miniatura" class="product-image">
            <div class="product-price-container">
              <h3 class="product-title">Abacaxi c/ hortelâ</h3>
              <span for="preco_produto12" class="product-price">R$9,00</span>
              <input type="text" id="preco_produto12" value="R$9.00">
              <button onclick="salvarAlteracoes()" class="botão">Salvar Alteração</button>
             </div>
          </div>

        </div>

  <!--FILEIRA 2 DE BEBIDAS-->

          <div class="products-container2_2">

          <div class="movie-product">
            <!-- <br> -->
            <img src="/fotos/bebidas/Coca cola lata.jpg" alt="Camiseta" class="product-image">
            <div class="product-price-container">
              <h3 class="product-title">Coca Cola - Lata </h3>
              <span for="preco_produto13" class="product-price">R$6,00</span>
              <input type="text" id="preco_produto13" value="R$6.00">
              <button onclick="salvarAlteracoes()" class="botão">Salvar Alteração</button>
              </div>
          </div>

          <div class="movie-product">
            <!-- <br> -->
            <img src="/fotos/bebidas/guarana lata.jpg" alt="Miniatura" class="product-image">
            <div class="product-price-container">
              <h3 class="product-title">Guaraná - Lata</h3>
              <span for="preco_produto14" class="product-price">R$6,00</span>
              <input type="text" id="preco_produto14" value="R$6.00">
              <button onclick="salvarAlteracoes()" class="botão">Salvar Alteração</button>
              </div>
          </div>

          <div class="movie-product">
            <!-- <br> -->
            <img src="/fotos/bebidas/água.png" alt="Miniatura" class="product-image">
            <div class="product-price-container">
              <h3 class="product-title">Água</h3>
              <span for="preco_produto15" class="product-price">R$4,00</span>
              <input type="text" id="preco_produto15" value="R$4.00">
              <button onclick="salvarAlteracoes()" class="botão">Salvar Alteração</button>
             </div>
          </div>

        </div>

  <!--FILEIRA 3 DE BEBIDAS-->
              
            <div class="products-container3_2">

          <div class="movie-product">
            <!-- <br> -->
            <img src="/fotos/bebidas/Schweppes Citrus.jpg" alt="Camiseta" class="product-image">
            <div class="product-price-container">
              <h3 class="product-title">Schweppes Citrus </h3>
              <span for="preco_produto16" class="product-price">R$6,00</span>
              <input type="text" id="preco_produto16" value="R$6.00">
              <button onclick="salvarAlteracoes()" class="botão">Salvar Alteração</button>
              </div>
          </div>

          <div class="movie-product">
            <!-- <br> -->
            <img src="/fotos/bebidas/fanta laranja lata.jpg" alt="Miniatura" class="product-image">
            <div class="product-price-container">
              <h3 class="product-title">Fanta Laranja - Lata</h3>
              <span for="preco_produto17" class="product-price">R$6,00</span>
              <input type="text" id="preco_produto17" value="R$6.00">
              <button onclick="salvarAlteracoes()" class="botão">Salvar Alteração</button>
               </div>
          </div>

          <div class="movie-product">
            <!-- <br> -->
            <img src="/fotos/bebidas/fanta uva lata.jpg" alt="Miniatura" class="product-image">
            <div class="product-price-container">
              <h3 class="product-title">Fanta Uva - Lata</h3>
              <span for="preco_produto18" class="product-price">R$6,00</span>
              <input type="text" id="preco_produto18" value="R$6.00">
              <button onclick="salvarAlteracoes()" class="botão">Salvar Alteração</button>
               </div>
          </div>

        </div>

        <script>
          function editProduct(productName) {
            // Mostrar o formulário de edição correspondente ao produto
            const editForm = document.getElementById(`edit-${productName}`);
            editForm.style.display = 'block';
          }
        
          function saveChanges(productName) {
            // Obter os novos valores do preço e quantidade
            const newPrice = parseFloat(document.getElementById('new-price').value);
            const newQuantity = parseInt(document.getElementById('new-quantity').value);
        
            // Atualizar os valores do produto na página inicial
            const productPriceElement = document.querySelector(`.product-price[data-product="${productName}"]`);
            const productQuantityElement = document.querySelector(`.product-quantity[data-product="${productName}"]`);
        
            if (!isNaN(newPrice)) {
              productPriceElement.textContent = `R$${newPrice.toFixed(2)}`;
            }
        
            if (!isNaN(newQuantity)) {
              productQuantityElement.textContent = newQuantity;
            }
        
            // Esconder o formulário de edição
            const editForm = document.getElementById(`edit-${productName}`);
            editForm.style.display = 'none';
          }
        </script>

        <script>
             function salvarAlteracoes() {
               localStorage.setItem("preco_produto1", document.getElementById("preco_produto1").value);
               localStorage.setItem("preco_produto2", document.getElementById("preco_produto2").value);
               localStorage.setItem("preco_produto3", document.getElementById("preco_produto3").value);
               localStorage.setItem("preco_produto4", document.getElementById("preco_produto4").value);
               localStorage.setItem("preco_produto5", document.getElementById("preco_produto5").value);
               localStorage.setItem("preco_produto6", document.getElementById("preco_produto6").value);
               localStorage.setItem("preco_produto7", document.getElementById("preco_produto7").value);
               localStorage.setItem("preco_produto8", document.getElementById("preco_produto8").value);
               localStorage.setItem("preco_produto9", document.getElementById("preco_produto9").value);
               localStorage.setItem("preco_produto10", document.getElementById("preco_produto10").value);
               localStorage.setItem("preco_produto11", document.getElementById("preco_produto11").value);
               localStorage.setItem("preco_produto12", document.getElementById("preco_produto12").value);
               localStorage.setItem("preco_produto13", document.getElementById("preco_produto13").value);
               localStorage.setItem("preco_produto14", document.getElementById("preco_produto14").value);
               localStorage.setItem("preco_produto15", document.getElementById("preco_produto15").value);
               localStorage.setItem("preco_produto16", document.getElementById("preco_produto16").value);
               localStorage.setItem("preco_produto17", document.getElementById("preco_produto17").value);
               localStorage.setItem("preco_produto18", document.getElementById("preco_produto18").value);

      // Redirecione de volta para a página do cliente após salvar as alterações
             location.href = '/home';
          }
        </script>
    

        </main>
     
    </main>
<!-- Botão para voltar para a página do cliente -->
<button onclick="location.href='/home'" id="voltar">Voltar para a Home</button>
    <footer>

        <h1 id="footer">Nossa localização</h1>

        <div id="linha"><hr></div>

        <div class="mapouter"><div class="gmap_canvas"><iframe class="gmap_iframe" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=esfiha&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://capcuttemplate.org/"></a></div><style>.mapouter{position:relative;text-align:right;width:600px;height:400px;}.gmap_canvas {overflow:hidden;background:none!important;width:1075px;height:400px;}.gmap_iframe {width:600px!important;height:400px!important;}</style></div>
        <br>
        <div class="final">
          <h2 class="info">Informações da empresa</h2>
          <p><Strong>CNPJ:</Strong> 32.759.022/0001-26<strong><br> Telefone:</strong> (11) 2514-5877</p> <br>
        </div>
        
    </footer>

</body>
</html>